$primary-background-color: #121212;
$secondary-background-color: #1e1e1e;
$tertiary-background-color: #272727;
$popup-background-color: #2c2c2c;

$primary-text-color: #fff;
$secondary-text-color: #ffffffde;
$tertiary-text-color: #ffffff99;

$accent-blue-color: #81D4FA;
$accent-blue-color-lowlight: #01579b66;
$accent-purple-color: #d1c4e9;
$accent-purple-color-variant: #b39ddb;
$accent-purple-color-variant-dark: #9575cd;


 