<div id="scroll-to-top-threshold-container" class="scroll-to-top-threshold-container intersecting"></div>
<button x-show="!showMenu" id="scroll-to-top-button" class="scroll-to-top-button" onclick="scrollToTop()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M5 15l7-7 7 7"
    />  
  </svg>
</button>    

<script>
  let scrollToTopThresholdContainer = document.getElementById("scroll-to-top-threshold-container")
  let scrollToTopButton = document.getElementById("scroll-to-top-button")
  let rootElement = document.documentElement

  function scrollToTop() { 
    rootElement.scrollTo({ 
      top: 0,
      behavior: "smooth",
    }) 
  }

  function showScrollToTopButton(entries, observer) {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        scrollToTopThresholdContainer.classList.add("intersecting")
      }
      else{
        scrollToTopThresholdContainer.classList.remove("intersecting")
      }
    })  
  }

  let observer = new IntersectionObserver(showScrollToTopButton);
  observer.observe(scrollToTopThresholdContainer);
</script>