{% extends "base.html" %}
{% block head %}
<title>Brandon Kelley - {{ section.title }}</title>
<meta name="description" content="{{ section.description | safe }} - Page {{ paginator.current_index }}">

{% endblock head %}
{% block content %}
  <div class="bg-primary-background-color max-w-5xl mx-auto min-h-screen shadow-xl px-4 sm:px-6 lg:px-8 py-16">
    <div class="grid grid-cols-3 gap-2 md:gap-8">
      {% for page in paginator.pages %}
          <article data-aos="fade-up" :data-aos-offset="0" data-aos-duration="1000">
            <div id="photo-container" class="loading-container">
              <a id="photo-card" href="{{ page.permalink | safe}}" class="group disable-default-focus shadow-md loading">
                <img id="photo-image" class="filter grayscale rounded group-hover:grayscale-0 group-focus:grayscale-0 group-active:grayscale-0 transition-all duration-500" src="/assets/photoblog-photos/{{ page.extra.photo }}" alt="{{ page.description }}">
              </a>
            </div>
          </article>
      {% endfor %}
    </div>

    {% include "partials/paginator.html" %}

    <script> 
      let photoContainers = document.querySelectorAll('#photo-container');
      let photos = document.querySelectorAll('#photo-card');
      let photoImages = document.querySelectorAll('#photo-image');
      imagesLoaded( photoImages, { background: true }, function() {
        for (photo of photos) {
          photo.classList.remove('loading') 
        }
        for (photoContainer of photoContainers) {
          photoContainer.replaceWith(...photoContainer.childNodes);
        } 
    });
    </script>  
{% endblock content %}