<label id="menu-panel" class="menu-panel">
  <input
    id="hamburger-menu"
    type="checkbox"
    onclick="menuPress()"
    autocomplete="off"
  />
  <span class="menu">
    <span class="hamburger"></span>
  </span>

  <ul id="menu-links">
    <li>
      <a class="menu-link disable-default-focus" href="/">Home</a>
    </li>
    <li>
      <a class="menu-link disable-default-focus" href="/blog">Blog</a>
    </li>
    <li>
      <a class="menu-link disable-default-focus" href="/projects">Projects</a>
    </li>
    <li>
      <a class="menu-link disable-default-focus" href="/resume" href="">Resume</a>
    </li>
    <li>
      <a class="menu-link disable-default-focus" href="/reading-log">Reading Log</a>
    </li>
  </ul>
</label>
<script>
  let menu  = document.getElementById("menu-panel")
  let links  = document.getElementById("menu-links")
  
  menu.style.display = "none"
  links.style.display = "none"
  setTimeout(function(){ menu.style.display = "block"; }, 150);
  setTimeout(function(){ links.style.display = "block"; menu.classList.add("fade-in")}, 200);
</script>